/* JustAsk - Logo */

.logo {
	font-family: $logo-font-family;
	text-align: center;
	text-transform: uppercase;
	font-size: $logo-font-size;
	color: $logo-color;
	text-shadow: $logo-text-shadow;
	
	a {
		color: $logo-color;
		text-decoration: none;
	}

	.logo-highlight {
		color: $logo-color-highlight;
	}	
}



// Media Queries
// 
// called in media-queries.scss

// Medium breakpoint/tweakpoint --md
@mixin logo--md() {
	.logo {
		font-size: $logo-font-size--md;
	}
}

/* END JustAsk - Logo */